.login-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    position: relative;
    height: 100%; 
    background-color: #10b161;
    border-top-right-radius:10% ;
    border-bottom-right-radius:10%;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    margin-right: 10%;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%; 
    background-color: white;
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px; 
    padding: 0px; 
}

.login-form {
    width: 100%;
    max-width: 400px; 
    padding: 40px; 
    background: white;
    border-radius: 8px;
    border: 1px solid #2e7d32;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.login-form h2 {
    margin-bottom: 20px;
    color: #2e7d32; 
    font-size: 24px;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 15px; 
    margin-bottom: 15px; 
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}

.login-form button {
    width: 100%;
    padding: 15px; 
    background-color: #2e7d32; 
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1b5e20; 
}