.side-menu-bar {
  width: 250px;
  height: 50vh;
  background-color: #2e7d32; /* Verde oscuro */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0; /* Bordes redondeados a la derecha */
  transition: transform 0.3s ease; /* Transición suave */
}

.side-menu-bar.hidden {
    transform: translateX(-100%); /* Oculta la barra lateral */
  }
  
.side-menu-bar.visible {
 transform: translateX(0); /* Muestra la barra lateral */
}
  

.side-menu-bar h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.side-menu-bar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.side-menu-bar button:not(.logout-button) {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #4caf50; /* Verde */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.side-menu-bar button:hover:not(.logout-button):hover{
  background-color: #45a049; /* Verde más oscuro */
}

.logout-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f; /* Rojo más oscuro al hacer hover */
}