/* Estilos generales para Home */
.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
}

/* Estilo de la Navbar */
.navbar {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.navbar img {
    height: 50px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a, .navbar-links button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.navbar-links a {
    border: 1px solid gray;
    color: black;
}

.navbar-links a:hover {
    background-color: gray;
    color: white;
}

.navbar-links button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.navbar-links button:hover {
    background-color: #555;
}

/* Contenido principal */
.home-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.home-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #222;
}

.home-content p {
    font-size: 1.2rem;
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

/* Imagen principal */
.home-image {
    margin-top: 1.5rem;
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    font-weight: bold;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    font-size: 0.9rem;
    color: #444;
}
